{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% if show_execute_button %}
        <div class="submit-row">
            <form action="{% url 'admin:execute_finder' object_id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="submit" value="Execute location finder" class="button" />
            </form>
        </div>
    {% endif %}
{% endblock %}