{% load static %}
<link rel="stylesheet" href="{% static 'funds/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postdoc Funds</title>
    <link rel="stylesheet" href="{% static 'funds/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="{% static 'funds/htmx.min.js' %}" defer></script>
    <script src="{% static 'funds/scripts.js' %}"></script>
</head>
<body>
    <div class="flex-table">
        <table class="table-styled">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Funder</th>
                    <th>Eligibility</th>
                    <th>Max Fund Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for fund in funds %}
                    <tr class="clickable-row" data-href="{{ fund.link }}">
                        <td>{{ fund.name }}</td>
                        <td>{{ fund.funder }}</td>
                        <td>{{ fund.eligibility_text|linebreaks}}</td>
                        <td>{{ fund.max_fund_amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>